/* Base styles */
html {
    background-color: rgb(20,20,20);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; /* Base font size for scaling */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(60,60,60);
}

.top-bar {
    padding: 1px;
}

#main-nav .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

#main-nav .nav-item {
    margin: 0 10px;
}

#main-nav .nav-link {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.625rem;
}

#main-nav .nav-link:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(60,60,60);
}

.bottom-header {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

#bottom-header-text {
    padding: 6.25rem 0; 
    color: white;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.625rem; /* Space between the grid items */
    padding: 0.625rem;
    justify-content: center; /* Center the grid items horizontally */
}

#programs, #placeholder {
    background-color: rgb(15,15,15);
    height: 18.75rem;
    width: 100%; /* Make it responsive */
    max-width: 18.75rem; /* Limit max width */
    color: white;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#programs-text, #placeholder-text {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

#programs-desc, #placeholder-desc {
    padding: 0 0.25rem;
    font-size: 0.875rem;
    color: rgb(255,255,255);
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    #bottom-header-text {
        padding: 3.125rem 0;
    }

    .bottom-header {
        font-size: 1.5rem;
    }

    #programs, #placeholder {
        height: 15rem;
        max-width: 15rem;
    }

    #programs-text, #placeholder-text {
        font-size: 1rem;
    }
}
