/* Base styles */
html {
    background-color: rgb(20,20,20);
}

* {
    font-family: sans-serif;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(60,60,60);
}

.top-bar {
    padding: 1px;
}

#main-nav .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#main-nav .nav-item {
    margin: 0 10px;
}

#main-nav .nav-link {
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#main-nav .nav-link:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(60,60,60);
}

.bottom-header {
    font-size: xx-large;
    text-align: center;
}

#bottom-header-text {
    padding-top: 100px; 
    padding-bottom: 100px;
    color: white;
}

/* Responsive styles */
@media only screen and (max-width: 1440px) {
    #main-nav .nav-link {
        font-size: medium;
        padding: 8px;
    }
    
    .bottom-header {
        font-size: x-large;
    }
    
    #bottom-header-text {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 1024px) {
    #main-nav .nav-link {
        font-size: medium;
        padding: 6px;
    }

    .bottom-header {
        font-size: large;
    }
    
    #bottom-header-text {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
